<md-content class="md-whiteframe-2dp w-470" layout="column" layout-margin>
	<h2 class="fw-300">Choose Filters</h2>
	<div layout="row" layout-align="start center" layout-margin>
		<span flex="50">Average Transactions</span>
		<select ng-model="filters.filtersObj.averageTxns.condition">
			<option value="=">=</option>
			<option value="<">&lt;</option>
			<option value=">">&gt;</option>
		</select>
		<input type="text" ng-model="filters.filtersObj.averageTxns.value"/>
	</div>

	<!-- <div layout="row" layout-align="start center" layout-margin>
		<span flex="50">Month1 Transactions</span>
		<select ng-model="filters.filtersObj.month1Txns.condition">
			<option value="=">=</option>
			<option value="<">&lt;</option>
			<option value=">">&gt;</option>
		</select>
		<input type="text" ng-model="filters.filtersObj.month1Txns.value"/>
	</div> -->

	<div layout="row" layout-align="end-center">
		<md-button class="m-0" ng-click="filters.close()">cancel</md-button>
		<md-button class="md-primary m-0" ng-click="filters.apply(filters.filtersObj)">apply</md-button>
	</div>


</md-content>