<div layout="row" layout-align="center center" ng-if="!applications.applicationsList">
  <md-progress-circular class="md-accent" md-diameter="50"></md-progress-circular>
</div>

<div ng-if="applications.applicationsList" id="loan-request-list">
  <md-list>
    <md-list-item>
      <span flex>
        <strong>Customer code</strong>
      </span>
      <span flex>
        <strong>Principle Amount</strong>
      </span>
      <span flex>
        <strong>Transferable Amount</strong>
      </span>
      <span flex>
        <strong>Tenure</strong>
      </span>
      <span flex>
        <strong>Processing Fee</strong>
      </span>
      <span flex></span>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-repeat="request in applications.applicationsList" class="ph-16">
      <span flex>
        {{request.custCode}}
      </span>
      <span flex>
        {{request.principalAmount}}
      </span>
      <span flex>
        {{request.transferAmount}}
      </span>
      <span flex>
        {{request.tenure}}
      </span>
      <span flex>
        {{request.processingFee}}
      </span>
      <span flex>
        <md-icon class="material-icons md-accent" ng-if="request.status == 'active'">done</md-icon>
        <md-button class="md-primary" ng-click="applications.createLoans(request)" ng-if="request.status == 'Application'">Activate Loan</md-button>
      </span>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
