<div layout="column" layout-align="center center" ng-if="!applications.applicationsList" class="pt-20">
  <span>Fetching Loan Applications...</span>
  <md-progress-linear md-mode="indeterminate" class="w-200 mt-10 md-accent"></md-progress-linear>  
</div>

<div ng-if="applications.applicationsList" id="loan-request-list">
<!--   <md-list>
    <md-list-item>
      <span flex>
        <strong>Customer code</strong>
      </span>
      <span flex>
        <strong>Principle Amount</strong>
      </span>
      <span flex>
        <strong>Transferable Amount</strong>
      </span>
      <span flex>
        <strong>Tenure</strong>
      </span>
      <span flex>
        <strong>Processing Fee</strong>
      </span>
      <span flex>
        <strong>Interest</strong>
      </span>
      <span flex></span>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-repeat="request in applications.applicationsList" class="ph-16">
      <span flex>
        {{request.custCode}}
      </span>
      <span flex>
        {{request.principalAmount}}
      </span>
      <span flex>
        {{request.transferAmount}}
      </span>
      <span flex>
        {{request.tenure}}
      </span>
      <span flex>
        {{request.processingFee}}
      </span>
      <span flex>
        {{request.interest}}
      </span>
      <span flex>
        <md-icon class="material-icons md-accent" ng-if="request.status == 'active'">done</md-icon>
        <md-button class="md-primary" ng-click="applications.createLoans(request)" ng-if="request.status == 'Application'">Activate Loan</md-button>
      </span>
      <md-divider></md-divider>
    </md-list-item>
  </md-list> -->

<md-table-container ng-if="applications.applicationsList.length > 0">
  <table md-table>
    <thead md-head >
      <tr md-row >
        <th md-column><span>Customer Code</span></th>
        <th md-column><span>Date</span></th>
        <th md-column><span>Principle Amount</span></th>
        <th md-column><span>Transferable Amount</span></th>
        <th md-column><span>Tenure</span></th>
        <th md-column><span>Interest</span></th>
        <th md-column><span>Processing Fee</span></th>
        <th md-column><span>Aadhar Name Matched</span></th>
        <th md-column><span>PAN Name Matched</span></th>
        <th md-column><span>Account Name Matched</span></th>
        <th md-column><span>Action</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="request in applications.applicationsList">
        <td md-cell>{{request.custCode}}</td>
        <td md-cell>{{request.loanOriginationDate}}</td>
        <td md-cell>{{request.principalAmount}}</td>
        <td md-cell>{{request.transferAmount}}</td>
        <td md-cell>{{request.tenure}}</td>
        <td md-cell>{{request.interest}}</td>
        <td md-cell>{{request.processingFee}}</td>
        <td md-cell>
          <md-icon class="material-icons md-primary" ng-if="request.aadharNameMatched">
            done
          </md-icon>

          <md-icon class="material-icons md-accent" ng-if="!request.aadharNameMatched">
            close
          </md-icon>
        </td>
        <td md-cell>
          <md-icon class="material-icons md-primary" ng-if="request.panNameMatched">
            done
          </md-icon>

          <md-icon class="material-icons md-accent" ng-if="!request.panNameMatched">
            close
          </md-icon>
        </td>
        <td md-cell>
          <md-icon class="material-icons md-primary" ng-if="request.accountNameMatched">
            done
          </md-icon>

          <md-icon class="material-icons md-accent" ng-if="!request.accountNameMatched">
            close
          </md-icon>
        </td>
        <td md-cell>
          <md-icon class="material-icons md-accent" ng-if="request.status == 'active'">done</md-icon>
          <md-button class="md-primary" ng-click="applications.createLoans(request)" ng-if="request.status == 'Application' && request.aadharNameMatched && request.panNameMatched && request.accountNameMatched">
            Activate Loan
          </md-button>
          <md-button class="md-primary" ng-if="request.status == 'Application' && (!request.aadharNameMatched || !request.panNameMatched || !request.accountNameMatched)" ng-click="applications.checkKyc($event,request)">
            Check KYC
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<h3 ng-if="applications.applicationsList.length == 0">
  No Loan Applications Found.
</h3>

</div>
