<md-dialog flex="66">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Loan Application</h2>
      <span flex></span>
      <md-button class="md-icon-button">
        <md-icon class="material-icon">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row" class="p-10" layout-wrap flex>
      <!--<md-input-container flex="45" class="ml-30">-->
        <!--<label>Customer Code</label>-->
        <!--<input type="text" ng-model="application.loanApplication.custCode">-->
      <!--</md-input-container>-->

    <md-input-container flex="45" class="ml-30">
      <label>mSwipe Ticket No</label>
      <input type="text" ng-model="application.loanApplication.mSwipeTicketNo">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Date Of Acceptance(DD-MM-YYYY)</label>
      <input type="text" ng-model="application.loanApplication.dateOfAcceptance">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Transaction Id</label>
      <input type="text" ng-model="application.loanApplication.tid">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Amount</label>
      <input type="text" ng-model="application.loanApplication.amount">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Type of Constitution</label>
      <input type="text" ng-model="application.loanApplication.typeOfConstitution">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Name Of Proprietor</label>
      <input type="text" ng-model="application.loanApplication.nameOfProprietor">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Name Of Shop</label>
      <input type="text" ng-model="application.loanApplication.nameOfShop">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Mobile Number</label>
      <input type="text" ng-model="application.loanApplication.mobileNo">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Email Address</label>
      <input type="text" ng-model="application.loanApplication.mailId">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Name of Bank Holder</label>
      <input type="text" ng-model="application.loanApplication.nameOfBankHolder">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Bank Name</label>
      <input type="text" ng-model="application.loanApplication.bankName">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>Bank Account Number</label>
      <input type="text" ng-model="application.loanApplication.bankAcoountNo">
    </md-input-container>

    <md-input-container flex="45" class="ml-30">
      <label>IFSC Code</label>
      <input type="text" ng-model="application.loanApplication.ifscCode">
    </md-input-container>


    <div layout="row" flex="100" layout-align="center center">
      <md-button class="md-raised md-accent m-16 ph-50 pv-5" ng-click="application.createLoanApplication(application.loanApplication)">
        Create Loan
      </md-button>
    </div>
  </md-dialog-content>

</md-dialog>
