<div layout="column" id="partner-loan-request">
  <div class="h-120"  md-colors="{background: 'accent-300'}">
    <h2 class="fw-400 ml-20 font-white">Borrowers</h2>
  </div>
  


  <md-content class="md-whiteframe-2dp brad-3 pb-20 mh-20 mb-20 content-overlay tab-content bg-white" layout="column">
  	<md-table-container>
      <table md-table>
        <thead md-head >
          <tr md-row >
            <th md-column><span>Customer Code</span></th>
            <th md-column><span>Name of Borrower</span></th>
            <th md-column><span>Name of Shop</span></th>
            <th md-column><span>Mobile Number</span></th>
            <th md-column><span>Email ID</span></th>
            <th md-column><span>Action</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="a in borrowers.borrowersList">
            <td md-cell>{{a.custCode}}</td>
            <td md-cell>{{a.nameOfProprietor}}</td>
            <td md-cell>{{a.nameOfShop}}</td>
            <td md-cell>{{a.mobileNo}}</td>
            <td md-cell>{{a.mailId}}</td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="borrowers.uploadDocumentDialog($event)">
                <md-icon class="material-icons">
                  more_vert
                </md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>


    <h2>bc-qr-reader demo</h2>
    <button ng-click="borrowers.start()">Activate scanner</button>
    <p ng-hide="borrowers.cameraRequested && !borrowers.cameraIsOn">Your browser should ask for permission to use the camera.</p>
    <div>
      <bc-qr-reader active="borrowers.cameraRequested" on-result="borrowers.processURLfromQR" on-error="borrowers.onError" camera-status="borrowers.cameraIsOn" width="200px" height="200px"></bc-qr-reader>
    </div>
    <p ng-show="url">QR code detected!</p>
    <p><b>{{ url }}</b></p>
  </md-content>