md-select {

  &.simplified {
    margin: 0 8px;

    .md-select-value {
      border: none !important;
      box-sizing: border-box;
      padding: 0;

      & *:first-child {
        transform: none;
        height: auto;
      }

      .md-select-icon {
        transform: none;
        font-size: 16px;

        &:after {
          top: 1px;
        }
      }
    }
  }

  &[multiple] {

    md-select-value {

      & > *:first-child {
        display: flex;

        & > *:first-child {
          flex: 0;
        }

        .md-container {
          padding-right: 6px;

          &:first-of-type {
            padding-right: 0;
          }
        }
      }
    }
  }
}
