<div layout="column" layout-margin>
  <div layout="row" flex="100" layout-wrap>
    <div flex="100" flex-gt-xs="50" flex-gt-md="25">
      <md-card>
        <div layout="row" class="ph-8 pv-16 h-55" ng-init="lDash.totalApplicationPartner = 'all'" layout-align="space-between center">
          <md-select ng-model="lDash.totalApplicationPartner" class="simplified fs-16">
            <md-option value="all">All</md-option>
            <md-option value="p1">Partner 1</md-option>
            <md-option value="p2">Partner 2</md-option>
            <md-option value="p3">Partner 3</md-option>
          </md-select>

          <span class="text-label fw-300 fs-12">CURRENT WEEK</span>
        </div>

        <div layout="column" layout-align="center center" class="pt-8 pb-32">
          <div class="fs-50 text-default">
            {{lDash.dashboardDetails.currentWeekDetails.noOfLoans | number}}
          </div>
          <div class="text-label fw-400">
            TOTAL APPLICATIONS
          </div>
        </div>

        <div class="p-16 bg-light-gray border-top" layout="row" layout-align="start center">
          <span class="text-label">Last week:</span>
          <span class="h4 ml-8">{{lDash.dashboardDetails.lastWeekDetails.noOfLoans | number}}</span>
        </div>
      </md-card>
    </div>

    <div flex="100" flex-gt-xs="50" flex-gt-md="25">
      <md-card>
        <div layout="row" class="ph-8 pv-16 h-55" ng-init="lDash.totalApplicationPartner = 'all'" layout-align="space-between center">
          <md-select ng-model="lDash.totalApplicationPartner" class="simplified fs-16">
            <md-option value="all">All</md-option>
            <md-option value="p1">Partner 1</md-option>
            <md-option value="p2">Partner 2</md-option>
            <md-option value="p3">Partner 3</md-option>
          </md-select>

          <span class="text-label fw-300 fs-12">CURRENT WEEK</span>
        </div>

        <div layout="column" layout-align="center center" class="pt-8 pb-32">
          <div class="fs-50 text-accent">
            {{lDash.dashboardDetails.currentWeekDetails.totalLoanDisbursed | number}}
          </div>
          <div class="text-label fw-400">
            TOTAL LOAN DISBURSED
          </div>
        </div>

        <div class="p-16 bg-light-gray border-top" layout="row" layout-align="start center">
          <span class="text-label">Last week:</span>
          <span class="h4 ml-8">
            {{lDash.dashboardDetails.lastWeekDetails.totalLoanDisbursed | number}}
          </span>
        </div>
      </md-card>
    </div>

    <div flex="100" flex-gt-xs="50" flex-gt-md="25">
      <md-card>
        <div layout="row" class="ph-8 pv-16 h-55" ng-init="lDash.totalApplicationPartner = 'all'" layout-align="space-between center">
          <md-select ng-model="lDash.totalApplicationPartner" class="simplified fs-16">
            <md-option value="all">All</md-option>
            <md-option value="p1">Partner 1</md-option>
            <md-option value="p2">Partner 2</md-option>
            <md-option value="p3">Partner 3</md-option>
          </md-select>

          <span class="text-label fw-300 fs-12">CURRENT WEEK</span>
        </div>

        <div layout="column" layout-align="center center" class="pt-8 pb-32">
          <div class="fs-50 text-default">
            {{lDash.dashboardDetails.currentWeekDetails.totalRepayment | number}}
          </div>
          <div class="text-label fw-400">
            TOTAL REPAYMENTS
          </div>
        </div>

        <div class="p-16 bg-light-gray border-top" layout="row" layout-align="start center">
          <span class="text-label">Last week:</span>
          <span class="h4 ml-8">
            {{lDash.dashboardDetails.lastWeekDetails.totalRepayment | number}}
          </span>
        </div>
      </md-card>
    </div>

    <div flex="100" flex-gt-xs="50" flex-gt-md="25">
      <md-card>
        <div layout="row" class="ph-8 pv-16 h-55" ng-init="lDash.totalApplicationPartner = 'all'" layout-align="space-between center">
          <md-select ng-model="lDash.totalApplicationPartner" class="simplified fs-16">
            <md-option value="all">All</md-option>
            <md-option value="p1">Partner 1</md-option>
            <md-option value="p2">Partner 2</md-option>
            <md-option value="p3">Partner 3</md-option>
          </md-select>

          <span class="text-label fw-300 fs-12">CURRENT WEEK</span>
        </div>

        <div layout="column" layout-align="center center" class="pt-8 pb-32">
          <div class="fs-50 text-accent">
            {{lDash.dashboardDetails.currentWeekDetails.totalRemaining | number}}
          </div>
          <div class="text-label fw-400">
            TOTAL REMAINING
          </div>
        </div>

        <div class="p-16 bg-light-gray border-top" layout="row" layout-align="start center">
          <span class="text-label">Last week:</span>
          <span class="h4 ml-8">
            {{lDash.dashboardDetails.lastWeekDetails.totalRemaining | number}}
          </span>
        </div>
      </md-card>
    </div>
  </div>
</div>
