/************* COLORS **************/

$color-white: #fff;
$color-black: #000;

/*********** NAVBAR ***********/

$color-nav-toolbar: #333;
$color-nav-toolbar-link: #777;

/*********** DEFAULTS, CONTAINERS & ELEMENTS***********/

$color-default: #448aff;//#2196F3;
$color-accent: #ff5722;
$color-bg-dark: #f5f5f5;
$color-label: #8c8c8c;
$color-file-upload-container: #fafafa;
$color-border: #C8CBCE;




/*********** Footer Section ***********/

$color-footer-container: #262626;
$color-footer-content: #999;
$color-copyright-bg-section: #222222;

/*********** Social Media ***********/
$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-linkedin: #0177B5;

/*********** Messages Text ***********/
$color-success : #388E3C;
$color-denger: #dd2c00;
