<div ng-if="approved.approvedLoansList" id="approved-loans">
  <md-list>
    <md-list-item>
      <span flex>
        <strong>Customer code</strong>
      </span>
      <span flex>
        <strong>Loan Request Date</strong>
      </span>
      <span flex>
        <strong>Multi/Retail</strong>
      </span>
      <span flex>
        <strong>Amount</strong>
      </span>
      <span flex>
        <strong>Status</strong>
      </span>
      <span flex>
        <!--<strong>Actions</strong>-->
      </span>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="ph-16" ng-repeat="request in approved.approvedLoansList">
      <span flex>
        {{request.custCode}}
      </span>
      <span flex>
        {{request.loanRequestDate | date: 'dd-MMM-yyyy'}}
      </span>
      <span flex>
        {{request.multiOrRetail}}
      </span>
      <span flex ng-init="request.eleigibleAmount = 10000">
        {{request.eleigibleAmount}}
      </span>
      <span flex>
        {{request.status}}
      </span>
      <span flex>
        <md-button class="md-icon-button" ng-click="plr.uploadKyc($event,request.custCode)">
          <md-tooltip>Upload KYC</md-tooltip>
          <md-icon class="material-icons">cloud_upload</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="plr.createLoanApplication($event,request.custCode)">
          <md-tooltip>Create Loan Application</md-tooltip>
          <md-icon class="material-icons">add_circle_outline</md-icon>
        </md-button>
      </span>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>

<div layout="row" layout-align="center center">
  <md-progress-circular ng-if="!approved.approvedLoansList" class="md-accent" md-diameter="50"></md-progress-circular>
</div>
