<md-dialog flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Upload KYC</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" class="p-20" layout-margin>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-accent" flex="30" ngf-select ng-model="kyc.docs.selfie">Upload Selfie</md-button>
      <span flex>{{kyc.docs.selfie.name}}</span>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-accent" flex="30" ngf-select ng-model="kyc.docs.aadhar">Upload Aadhar</md-button>
      <span flex>{{kyc.docs.aadhar.name}}</span>
    </div>

    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-accent" flex="30" ngf-select ng-model="kyc.docs.pancard">Upload Pancard</md-button>
      <span flex>{{kyc.docs.pancard.name}}</span>
    </div>

  </md-dialog-content>
  <!--<md-dialog-actions layout="row" layout-align="center center">-->

  <!--</md-dialog-actions>-->

  <md-dialog-actions layout="row">
    <span flex></span>
    <span ng-if="kyc.uploading">
      <md-progress-circular class="md-accent" md-diameter="35">
      </md-progress-circular>
    </span>
    <md-button class="md-raised md-primary m-16" ng-click="kyc.uploadKyc(kyc.docs)" ng-disabled="kyc.uploading || !kyc.docs.selfie || !kyc.docs.aadhar || !kyc.docs.pancard">
      Submit
    </md-button>
  </md-dialog-actions>
</md-dialog>
